<h2>New Item</h2>
<form>
  <div class="form-group">
    <input placeholder="Name" data-ng-model="ItemNewViewModel.item.name" />
  </div>
  <div class="form-group">
    <textarea placeholder="Description" data-ng-model="ItemNewViewModel.item.description"></textarea>
  </div>
  <div class="form-group">
    <input placeholder="Category" data-ng-model="ItemNewViewModel.item.category" />
  </div>
  <div class="form-group">
    <input placeholder="Color" data-ng-model="ItemNewViewModel.item.color" />
  </div>
  <div class="form-group">
    <input placeholder="Fabric" data-ng-model="ItemNewViewModel.item.fabric_type" />
  </div>
  <div class="form-group" ng-if="ItemNewViewModel.uploader">
    <input type="file" data-ng-model="ItemNewViewModel.item.image" nv-file-select uploader="ItemNewViewModel.uploader"/>
  </div>
  <button type="button" class="btn btn-success" data-ng-click="ItemNewViewModel.create()">Create</button>
</form>
